# 🐍 Arquivos Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 📦 Ambientes virtuais
venv/
env/
.venv/
.env/

# 📜 Logs e arquivos temporários
*.log
*.tmp
*.swp
*~

# 🧪 Testes
htmlcov/
.tox/
coverage.xml
.cache/
.pytest_cache/

# 🧰 Ferramentas e IDEs
.vscode/
*.code-workspace
.idea/
*.iml

# 📂 Outros
.DS_Store